
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container > div {
    margin: auto;
    margin-top: 128px;
}
.splash-image {
    max-width: 350px;
    margin: auto;
}
